.autocomplete-container{
    position: relative;
}

.autocomplete-results{
    position: absolute;
    top: 35px;
    left: 15px;
    right:15px;
    background-color: #fff;
    z-index: 1;
}

.autocomplete-results li {
    background-color: #fff;
    padding: 5px 5px 5px 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.autocomplete-results li:first-child {
    border-top: 1px solid #ccc;
}

.autocomplete-results .result-item:hover{
    cursor: pointer
}
.result-stats-icon{
    margin-top: 10px;
}