body {
  padding-top: 50px;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar-fixed-top {
  border: 0;
}
#main-body{
    margin-top:15px;
    height: 100%;
}
table {
    font-size: inherit;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{ padding-right: 5px; padding-left: 5px; } /* Tighter columns */
.row {
    margin-right: -5px;
    margin-left: -5px;
}
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

/* Animate show/hide */
.concealed { visibility:hidden; opacity:0; transition: opacity 0.1s linear;}
.revealed { visibility:visible; opacity:1; transition: opacity 0.25s linear;}
